# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

QT5_MODULE="{{qt5_module}}"
inherit qt5-build

DESCRIPTION="Tools for working with Qt translation data files"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE="qml"

DEPEND="
	=dev-qt/qtcore-{{qt5_ver}}*:5=
	=dev-qt/qtxml-{{qt5_ver}}*
	qml? ( =dev-qt/qtdeclarative-{{qt5_ver}}* )
"
RDEPEND="${DEPEND}"

QT5_TARGET_SUBDIRS=(
	src/linguist
)

src_prepare() {
	sed -i -e '/SUBDIRS += linguist/d' \
		src/linguist/linguist.pro || die

	qt_use_disable_mod qml qmldevtools-private \
		src/linguist/lupdate/lupdate.pro

	qt5-build_src_prepare
}
