# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

QT5_MODULE="{{qt5_module}}"
inherit qt5-build

DESCRIPTION="Interface to Qt applications communicating over D-Bus"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/qtcore-{{qt5_ver}}*
	=dev-qt/qtdbus-{{qt5_ver}}*
	=dev-qt/qtxml-{{qt5_ver}}*
"
RDEPEND="${DEPEND}"

QT5_TARGET_SUBDIRS=(
	src/qdbus/qdbus
)
