# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

inherit qt5-build

DESCRIPTION="Additional format plugins for the Qt image I/O system"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE="mng"

DEPEND="
	=dev-qt/qtcore-{{qt5_ver}}*
	=dev-qt/qtgui-{{qt5_ver}}*
	media-libs/libwebp:=
	media-libs/tiff:0
	mng? ( media-libs/libmng:= )
"
RDEPEND="${DEPEND}"

src_configure() {
	sed -e 's/qtConfig(jasper)/false:/' \
		-i src/plugins/imageformats/imageformats.pro || die
	qt_use_disable_config mng mng src/plugins/imageformats/imageformats.pro

	qt5-build_src_configure
}
