# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

inherit qt5-build

DESCRIPTION="Set of next generation Qt Quick controls for the Qt5 framework"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE="widgets"

DEPEND="
	=dev-qt/qtcore-{{qt5_ver}}*
	=dev-qt/qtdeclarative-{{qt5_ver}}*
	=dev-qt/qtgui-{{qt5_ver}}*
	widgets? ( =dev-qt/qtwidgets-{{qt5_ver}}* )
"
RDEPEND="${DEPEND}
	=dev-qt/qtgraphicaleffects-{{qt5_ver}}*
"

src_prepare() {
	qt_use_disable_mod widgets widgets \
		src/imports/platform/platform.pro

	qt5-build_src_prepare
}
