# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

inherit qt5-build

DESCRIPTION="State Chart XML (SCXML) support library for the Qt5 framework"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE=""

DEPEND="
	=dev-qt/qtcore-{{qt5_ver}}*
	=dev-qt/qtdeclarative-{{qt5_ver}}*
"
RDEPEND="${DEPEND}"
