# Distributed under the terms of the GNU General Public License v2

EAPI=7
KDE_ORG_COMMIT="{{commit_hash}}"

inherit qt5-build

DESCRIPTION="Translation files for the Qt5 framework"
SRC_URI="{{artifacts[0].src_uri}}"

KEYWORDS="*"

IUSE=""

DEPEND="=dev-qt/qtcore-{{qt5_ver}}*"
BDEPEND="=dev-qt/linguist-tools-{{qt5_ver}}*"
